:root {
  --dark-purple-color: #272643;
  --dark-teal-color: #2c698D;
  --light-teal-color: #BAE8E8;
  --faded-teal-color: #E3F6F5;
}

body, html, #root, .app-container {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container{
  display: flex;
  flex-direction: column;
}

.main-content{
  flex-grow: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Remove the dropdown triangle icon */
.navbar .dropdown-toggle::after {
  display: none;
}

.dropdown-item {
  color: var(--dark-purple-color);
}

.dropdown-item:hover {
  color: white;
  background-color: var(--dark-teal-color);
}

.nav-link {
  color: var(--light-teal-color);
}

.nav-link:hover {
  color: white;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #fff;
}

.footer-link {
  text-decoration: none;
  color: var(--dark-purple-color);
  margin-bottom: 0.5rem;
}


.diagonal-lines {
  background-color: var(--dark-purple-color);
  background-image: repeating-linear-gradient(
    45deg,
    #d3d3d3 0,
    var(--dark-purple-color) 0.25px,
    transparent 1px,
    transparent 30px
  );
  height: 100%;
  width: 100%;
  padding: 20;
}



